.searchInput {
    width: 100%;
    height: 43px;
    margin-bottom: 0;
    padding: 0 20px;
    border: 1px solid var(--color-placeholder);
    border-radius: 58px;
    background-color: white;
    color: var(--color-input);
    font-size: 16px;
    outline: none;
}
.searchInputDiv{
    max-width: 1000px;
}
.titleSearch{
    font-size: 20px;
    font-weight:bold;
    margin: 20px 0;
}