<style>
	:root {
		--color-main: #e8f1f7;
		--color-placeholder: #b0b4b7;
		--color-border: #e2e8e9;
		--color-font: #4d4c54;
		--color-input: #1d1d1f;
		--color-title-background:#006ec5;
		--color-title-background2: #6bb8f5;
		--color-title-azure: #00a9ee;
		--color-red: red;
	}
	.red{
		color: var(--color-red);
		font-weight: bold;
	}
	.inputDiv input {
		width: 90%;
		height: 43px;
		margin-bottom: 0;
		padding: 0 20px;
		border: 1px solid var(--color-placeholder);
		border-radius: 58px;
		background-color: white;
		color: var(--color-input);
		font-size: 16px;
		outline: none;
	}
	.inputDiv{
		margin: 20px 0;
	}
	.title
	{
		font-size: 18px;
		font-weight: bold;
		padding-top: 10px;
	}
	.centerBlock{
		max-width: 500px;
		margin: 0 auto;
	}
	.center{
		width: 100%;
		margin: 0 auto;
		text-align: right;
	}
	.formAdd{
		height: 370px;
		background-color: var(--color-main);
		border: 1px solid black;
		border-radius: 20px;
		padding : 0px  40px;
	}
	.backColor{
		background: linear-gradient( var(--color-main), white);
	}
	.Flex{
		display: flex;
	}
	.width20{
		width: 20%;
	}
	.width100{
		width: 80%;
	}
	.borderRight{
		border-top: 1px solid var(--color-title-background);
		border-right: 1px solid var(--color-title-background);
		border-top-right-radius: 20px;
		padding: 20px;
	}
	.button {
		display: inline-block;
		position: relative;
		text-align: center;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: #533eca;
		border: 1px solid rgba(0,0,0,0);
		font-family: Roboto,sans-serif;
		line-height: 12px;
		font-size: 12px;
		padding: 9px 20px;
		border-radius: 4px;
		cursor: pointer;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
		color: #fff;
		overflow: hidden;
	}
</style>