.mainWorkArea{
    max-width: 800px;
    margin: 20px auto ;
    font-size: 12px;
    overflow: hidden;
}
.titleArticle{
    font-weight:bold;
    text-align:center;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px
}
.detailTextArticle{
    font-size: 16px;
}
.detailTextArticle .quoteDetailTextArticle{
    color: var(--color-quote);
    white-space: nowrap
}
.mainWorkArea .quoteDetailTextArticle,.mainWorkArea.short .quoteDetail,.mainWorkArea.short .view,.mainWorkArea .noView{
    display: none;
}

.mainWorkArea.short .noView, .mainWorkArea.short .quoteDetailTextArticle{
      display: inline-block;
  }
.BibleVerseComponent{
    margin: 10px 5px;
    max-width: 800px;
    color: var(--color-title-azure);
}
.BibleVerseComponent .path{
    margin-top: 10px;
    color: var(--color-quote);
    width: 100%;
    text-align: right;
}
.quoteDetailTextArticle{
    color: var(--color-title-azure);
    font-size: 14px;
    font-weight: bold;
}
.download{
    width: 20px;
    position: relative;
    top:5px;
}
.fileDownload{
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.titleFiles{
    font-size: 18px;
    font-weight:BOLD;
}