.bookAnchor{
    color: var(--color-title-background);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.path{
    width: 100px;
    min-width: 100px;
    color: var(--color-title-azure);
    cursor:pointer;
}
.searchBold{
    font-weight: bold;
}
.bookListHrefs{
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
}
.bookListHrefs .bookHref{
    margin-bottom:5px;
}
.bookListHrefs .bookHref a{
    color: var(--color-title-azure);
    border-bottom: 1px dotted var(--color-title-azure);
    margin-right: 20px;
    cursor:pointer;
}