:root {
    --color-main: #e8f1f7;
    --color-placeholder: #b0b4b7;
    --color-border: #e2e8e9;
    --color-font: #4d4c54;
    --color-input: #1d1d1f;
    --color-title-background:#006ec5;
    --color-quote:#006ec5;
    --color-title-background2: #6bb8f5;
    --color-red: #fb5e5e;
    --color-green: #00bd00;
    --color-light: #e0f1ff;
    --color-white: white;
    --color-title-azure: #00a9ee;
}
.flex{
    display : flex;
}
.flexCenter{
    justify-content: center;
    align-items: center;
    display: flex;
}
.flexLeft{
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.button {
    font-size: 14px;
    background-color: var(--color-title-azure);
    border-radius: 5px;
    width: 130px;
    text-align: center;
    padding: 5px 10px;
    color: var(--color-white);
    cursor: pointer;
    text-decoration: none;
    margin: 0 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.title2{
    font-weight:bold;
    margin: 20px 0;
    font-size: 18px;
}
.title3{
    font-weight:bold;
    margin: 5px 0;
    font-size: 14px;
}
.number{
    font-weight:bold;
    margin-right: 10px;
    font-size: 12px;
    font-style: italic;
    white-space: nowrap;
    width: 40px;
}
.number.small {
    width: 10px !important;
    margin-left: 20px;
}
.quote{
    margin: 10px 0 20px 0;
    color: var(--color-title-azure);
    font-size: 14px;
    font-weight: bold;
}
.right {
    width: 100%;
    text-align: right;
}
.verse{
    color: var(--color-title-background) !important;
}
.opacity{
    opacity: 0;
}
.button.small{
    padding: 5px 10px !important;
    font-size: 10px;
    width: auto;
    background-color: var(--color-title-background) !important;
}
.popupOpenButtonData{
    cursor: pointer;
}
.imgListItem img{
    width: 145px;
    cursor: zoom-in;
    border: 1px solid var(--color-title-azure);
    border-radius: 5px;
    margin: 5px 5px;
}
.imgsList{
    max-width: 100%;
    overflow-x: auto;
    margin: auto;
    justify-content: center;
}
.nowrap{
    white-space: nowrap;
}
.popupOpenButton{
    cursor:pointer;
}
.copyText{
    cursor:pointer;
}
.tooltip{
    position:absolute;
    z-index:999;
    left:-9999px;
    background-color: white;
    padding:5px;
    border:1px solid var(--color-title-azure);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tooltip p{
    margin:0;
    color: black;
    background-color:white;
    padding:2px 7px;
}