.navPages:hover{
	color : #ca3e6f;
}	
.navPages{
	font-weight: bold;
	margin: 0 5px;
    background-color: #fff;
    color: #2d2556;
    min-width: 30px;
    border-radius: 2px;
	text-decoration: none;
	padding: 0 4px;
    background: #fff;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
	border: 1px solid #cdccd7;
    color: #7e7a98;
}
.navPages.points{
	border:none;
	background-color: #f8f9fb;
}
.navPages.active{
	border: 1px solid #533eca;
    background-color: #fff;
    color: #7e7a98;
}
.pager{
	display: flex;
}
.blockBlue{
    background: linear-gradient(#69D4FF, #fcfcfc 100%);
    text-align: center;
    box-shadow: #00a9ee 1px 1px 1px 0px;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    user-select: none;
	padding: 10px 20px 10px 20px;
}
.itemList .save,.itemList.active .editPopup{
	display: none;
}
.itemList.active .save{
	display: block;
}
.hgloadList{
	width : 100%;
}
.itemList{
	width: 100%;
	background-color: white;
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
}
.hgloadPicture img{
	max-width: 60px;
    max-height: 60px;
}
.hgloadId{
	width: 5%;
}
.hgloadName{
	width: 45%;
}
.hgloadPrice{
	width: 10%;
}
.hgloadPicture{
	width: 7%;
}
.hgloadDate{
	width: 8%;
}
.success{
	color: green;
	font-weight: bold;
}
.errors{ 
	color: red;
	font-weight: bold;
}
.addHgload{
	width: 200px;
	margin-bottom: 30px;
}
.itemListFirst{
	display: flex;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    font-style: normal;
    color: #c7c5d3;
	align-items: center;
    justify-content: center;
	width: 100%;
    margin: 0 -5%;
}
.main{
	background-color: #f8f9fb;
	padding: 2%;
}
.btnEdit{
	background-color: rgba(0,0,0,0);
    border-color: #eee;
    color: #533eca;
    margin-right: 16px;
}
.btn{
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
	cursor: pointer;
}
.btnDel{
    background-color: #533eca;
    border-color: #533eca;
    color: #fff;
}
.v-field__input {
    position: relative;
    min-width: 60%;
    max-width: 60%;
    color: black;
    font-size: 14px;
    line-height: 24px;
    padding: 5px 12px;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 0 #eeedf5;
    box-shadow: 0 1px 0 #eeedf5;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
	outline:none;
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.control__button{
    width: 24px;
    min-width: 24px;
    background-color: rgba(0,0,0,0);
    line-height: 24px;
    height: 24px;
    border: 2px solid #eee;
    border-radius: 2px;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    background-size: 14px;
    background-position: 50%;
    background-repeat: no-repeat;
	margin: 20px 20px 20px 0px;
}
.flex{
	display: flex;
	align-items: center;
}
.control__button.active{
	background-color: #982a75;
    border-color: #982a75; 
}