.MainPagerComponent .inputChapterBlock svg path {
   // stroke: var(--color-title-background);
}
.MainPagerComponent .inputChapterBlock .next svg,.MainPagerComponent .inputChapterBlock .preview svg {
    position:relative;
    top: 1px;
}
.MainPagerComponent .inputChapterBlock svg {
    width: 25px !important;
    height: 25px !important;
    cursor: pointer;
}
.MainPagerComponent .inputChapterBlock{
    margin-left: 30px;
}
.MainPagerComponent .chapterGo{
    width: 23px;
    height: 23.6px;
    background-color: var(--color-title-background);
    position: relative;
    top: -1px;
    z-index: 1;
    left: -10px;
    margin-right: -10px;
    cursor:pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.MainPagerComponent .chapterGo svg path {
    stroke: white !important;
    fill: white !important;
}
.MainPagerComponent .inputChapterNumber{
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    border: 1px solid var(--color-title-background);
    background-color: white;
    color: var(--color-title-background);
    font-size: 14px;
    position: relative;
    top: -1px;
    z-index: 2;
}
.bottomNavigation{
    font-size: 12px;
}
.bottomNavigation a{
    color: black !important;
}
.bottomNavigation svg{
    position:relative;
    top: 3px;
    margin: 0 10px;
}