:root {
  --color-main: #e8f1f7;
  --color-placeholder: #b0b4b7;
  --color-border: #e2e8e9;
  --color-font: #4d4c54;
  --color-input: #1d1d1f;
 --color-title-background:#006ec5;
  --color-title-background2: #6bb8f5;
  --color-red: #fb5e5e;
  --color-green: #00bd00;
  --color-light: #e0f1ff;

  --color-title-azure: #00a9ee;
}

.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.selecetedItemValue.active{
	background-color: var(--color-light);
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid var(--color-title-azure);
}
.checkbox {
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-right: -2px;
	box-shadow: var(--color-title-background2) 0px 0px 6px 0px inset;
	background-color: var( --color-main);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	margin-right: 10px;
}
.tablebodytext{
	display:none;
}
.checkbox.active {
	box-shadow: var(--color-title-background2) 0px 0px 6px 0px inset;
	background-color: var( --color-title-background);
}
.filterTest.noActive .DesctopFlex{
	display:none;
}
.filterTest.noActive {
	width: 90%;
	background: linear-gradient( var(--color-main), white);
	border-radius: 0px;
	padding: 0px;
	 border: 0px solid var( --color-title-azure);
}
.filterTest.noActive .btn1{
	display:none;
}
.filterTest.noActive .btn2{
	display:inline-block;
}
.filterTest .btn2{
	display:none;
}
.selectMulty{
	width: 200px;
	background-color: white;
	border : 1px solid var(--color-title-background2);
	padding: 2px;
	border-top-right-radius: 5px;
}
.selectMulty .list{
	display:none;
	height: 200px;
	overflow-y: scroll;
	position: absolute;
	background-color: white;
	width: 200px;
	border : 1px solid var(--color-title-background2);
	padding: 2px;
	margin-left: -3px;
	border-top: 1px solid var(--color-placeholder);
	border-bottom-right-radius: 5px;
}
.selectMulty.active .list {
	display : block;
}

.selectItem{
	padding: 2px 10px;
	cursor: pointer;
}
.groupFilter{
	width: 30%;
}
.line{
	width: 100%;
	height: 1px;
	border-bottom : 1px solid var(--color-title-background);
	margin: 20px 0px;
	opacity: 0.5;
}
.right{
width: 100%;
    margin: 0 auto;
    text-align: right;
}
.nameVerseWord{
	width: 90% !important;
}
.red{
	color: var(--color-red); 
}
.redBlock{
	background-color: var(--color-red); 
	color: white;
}
.greenBlock{
	background-color: var(--color-green); 
	color: white;
}
.answerText{
	display: none;
}
.active .answerText{
	display: inline-block;
}
.viewAnswer{
	cursor: pointer;
}
.answerText{
	color: var( --color-title-azure); 
}
.variantTest{
	width: auto;
    display: inline-block;
    padding: 2px 3px;
    border-radius: 3px;
    margin-bottom: 3px;
	cursor: pointer;
	caret-color: transparent;
}
.groupButton{
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.filterTest{
	width: 90%;
	background: linear-gradient( var(--color-main), white);
	border-radius: 10px;
	padding: 20px;
	border: 1px solid var( --color-title-azure);
}
.bigTextarea
{
	width: 470px;
	min-height:400px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: 20px;
	margin-left: 0px;
	padding: 10px;
	border : 1px solid var(--color-placeholder);
	outline:none;
	resize: none; 
}
.button {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #533eca;
    border: 1px solid rgba(0,0,0,0);
    font-family: Roboto,sans-serif;
    line-height: 12px;
    font-size: 12px;
    padding: 9px 20px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
    overflow: hidden;
}
.formData{
	width: 500px;
	min-height: 300px;
	border-radius: 20px;
	border: 1px solid var(--color-placeholder);
	background-color: var(--color-main);
	padding: 0px 40px;
}
.colorTitleBackground{
	color: var(--color-title-background);
} 
.bold{
	font-weight: bold;
}
.verticalCenter{
	display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
	cursor: pointer;
}
.tabContainer{
	margin-top: 20px;
}
.cutText{
 display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}
.tabTtitleElment.active{
	border-bottom: 3px solid white !important;
}

.border{
	position: relative;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 10px;
	border: 1px solid var(--color-title-background);

}
.tabTtitleElment{
	width: 200px; 
	height: 40px;
	position: relative;
	top: 3px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 1px solid var(--color-title-background);
	border-bottom: none;
}
.tabTtitleElment.noActive
{
	background-color: var(--color-border);
	background: linear-gradient( var(--color-main),  white);
}
.tabContent{ 
	border-top: 1px solid var(--color-title-background);
	border-right: 1px solid var(--color-title-background);
	border-top-right-radius: 20px; 
	padding : 20px;
}
.dottedNav{
	text-decoration: none !important;
    cursor: pointer;
    color: var(--color-title-azure) !important;
    margin-right: 10px;
    border-bottom: 1px dotted var(--color-title-azure);
    margin-bottom: 10px;
    margin-top: 10px;
}
.title1{
	font-size: 26px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.title2{
	font-size: 22px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.title3{
	font-size: 18px;
	margin: 10px 0px;
}
.center{
	text-align : center;
}
.blue{
	color: var(--color-title-background) !important;
}
.azure{
	color: var(--color-title-azure) !important;
}
.cursiv{
	font-style: italic;
}
.font{
	font-size: 20px;
}
.bold{
	font-weight: bold;
}
.right
{
	width: 100%;
	text-align: right;
}
.noDisplay
{
	display: none !important;
}
.noDecoration
{
	text-decoration: none;
}
.bc img {
    width: 15px;
    height: 10px;
    position: relative;
    top: 0px;
    cursor: pointer;
	    margin: 0 10px;
}
.marginLeft{
	margin-left: 20px;
}
.margin
{
	    margin: 0px 10px 20px 0px;
}
.title{
	font-size: 26px; 
	color: var(--color-title-font);
	width: 100% ;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	margin: 20px 0px;
}
.previewText{
	font-size: 22px;
	color: black;
}
.main{
	margin: 2% 2%;
}
.topMenu{
	width : 100%;
	height: 80px;
	background-color: var(--color-main);
	overflow: hidden;
	text-align: left;
}
.contentTopMenu{
	width: 100%; 
	display: flex;
	align-items: center;
	text-align: left;
}
.logo{
	width: 10%;
	margin-left: 1%;
}
.pointer{
	cursor: pointer;
}
.menu{
	width:  40%;
	display: flex;
	text-align: left;
	margin : 0 40px 0 80px;
	flex-direction: row-reverse;
}
.menuRight{
	width: 50%;
	text-align: right; 
}
.search{
	width: 40%; 
	margin-right: 10%;
}
.logo img{
	margin: 10px;
	max-height: 60px;
}
body{
	margin :0px; 
	max-width: 1600px;
	margin: 0 auto;
	
}
#bx-panel{
	display: none !important;
}
.resultQuoteDeatil{
	display:none;
}
.resultQuoteDeatil.active{
	display:block;
}
.triangle img 
{
	 width: 15px;
    height: 15px;
    position: relative;
    top: 7px;
    cursor: pointer;
}
.triangle.active .close
{
	display: inline;
}
.triangle.active .open
{
	display: none;
}
.triangle .close
{
	display: none;
}
.triangle .open
{
	display: inline;
}
.quoteList .group_title{
	font-size: 22px;
}
.qouteItem
{
	margin: 10px 20px;
}
.triangle_big{
	margin-right: 5px;
	cursor: pointer;
}
.littleTitle
{
	 font-size: 20px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    background-color: var(--color-title-background2);
    padding: 2px 2px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.itemTitle a{
	text-decoration: none;
	font-size: 22px;
	color:  var(--color-font);
}
.main{
	
}
.search_input {
    width: 100%;
    height: 43px;
    margin-bottom: 0;
    padding: 0 20px;
    border: 1px solid var(--color-placeholder);
    border-radius: 58px;
    background-color: white;
    color: var(--color-input);
    font-size: 16px;
	outline:none;
}
.menuItem{
	margin: 0 5%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem a{
	color: var(--color-title-background);
	text-decoration: none;
	font-size: 22px;
}
.menuItemMobile
{
	 margin: 10px 4%;
    font-size: 18px;
    display: block;
	text-align: right;
}
.menuItemMobile a{
	color: var(--color-title-background);
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
.whitePodmenu{
	display: none;
}

.whitePodmenu.active{
	display: block;
}

.width24{
	width : 24%;
}
.width30{
	width : 30%;
}
.width50{
	width : 48%;
}
.width100{
	width : 100%;
}
.paddingRight{
	padding-right : 10px;
}


input {outline:none;}
input::-moz-placeholder { color: var(--color-placeholder); }
input::-webkit-input-placeholder { color: var(--color-placeholder); }

/*Стили для списка книг*/

.leftColumn,.rightColumn{
	padding: 2%;
}
.zavet_title {
    font-size: 20px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    background-color: var(--color-title-background);
	padding: 1% 2%;
    padding-left: 20px;
    margin-bottom: 5px;
}
.group_title {
    text-align: left;
    margin: 10px 0px;
    //background-color: var(--color-main);
    border-radius: 10px;
    color: var(--color-font);
    font-weight: bold;
}
.group {
    border-radius: 10px;
    background-color: var(--color-main);
    padding: 2%; 
}
.bookName a:hover {
	color: var(--color-title-background);
}
.menuMobile
{
	cursor : pointer;
}
.whitePodmenu{
	position: absolute;
    width: 100%;
	height: auto;
  
    z-index: 101;
    background-color: white;
	border-bottom: 1px solid  var(--color-title-background);
}

@media screen and (min-width: 1440px){
	.verseText{
		font-size: 18px !important;
	}
	.rubric4{
		display : flex !important;
	}
	 .leftColumn, .rightColumn{
		padding: 2%;
		width: 50%;
	}
	.bookName a{
		line-height: 36px;
		font-size: 24px;
		text-decoration: none;
		color: #4d4c54;
	}
	.bibleList {
		width: 100%;
		display: flex ; 
	}
	.menuMobile{
		display: none;
	}
	.group_title{
		font-size: 22px;
	}
	.fullBookName{
		display: block;
	}
	.smallBookName{
		display:none;
	}
	.font{
		font-size : 20px;
	}
	.DesctopFlex{
		display: flex;
	}
}

@media screen and (min-width: 768px)   and (max-width: 1439px){
	.verseText{
		font-size: 16px !important;
	}
	.rubric3{
		display : flex !important;
	}
	.leftColumn, .rightColumn{
		padding: 2%;
		width: 50%;
	}
	.bookName a{
		line-height: 26px;
		text-decoration: none;
		font-size: 18px;
		color: #4d4c54;
	}
	.bibleList {
		width: 100%;
		display: flex ; 
	}
	.menuMobile{
		display: none;
	}
	.group_title{
		font-size: 22px;
	}
	.menu {
		display:none;
	}
	.menuMobile{
		display: flex;
		width: 28%;
		flex-direction: row-reverse;
	}
	.menuMobile img{
		display: flex;
		width: 15%;
		margin-right: 10%;
	}
	.search{
		width: 50%;
	}
	.fullBookName{
		display: none;
	}
	.font{
		font-size : 18px;
	}
	.DesctopFlex{
		display: flex;
	}
}
@media screen and (max-width: 767px)  and (min-width: 360px){
	.rubric2{
		display : flex !important;
	}
	.bibleList {
		width: 95%;
		display: block !important; 
	}
	.bookName a {
		line-height: 26px;
		text-decoration: none;
		color: #4d4c54;
		font-size: 18px;
		font-weight: bold;
	}
	.zavet_title {
		font-size: 22px;
	}
	.group_title {
		font-size: 18px;
	}
	.menu {
		display:none;
	}
	.search {
		width: 43%;
	}
	.search_input {
		height: 33px;
		font-size: 12px;
	}
	.logo{
		width: 20%;
	}
	.menuMobile{
		display: flex;
		width: 32%;
		flex-direction: row-reverse;
	}
	.menuMobile img{
		display: flex;
		width: 30%;
		margin: 12%;
	}
	.fullBookName{
		display: none;
	}
	.font{
		font-size : 16px;
	}
	.groupFilter {
		width: 100%;
	}
}	
@media screen and (max-width: 359px) {
	.rubric1{
		display : flex !important;
	}
	.bibleList {
		width: 95%;
		display: block !important; 
	}
	.bookName a {
		line-height: 22px;
		text-decoration: none;
		color: #4d4c54;
		font-size: 22px;
		font-weight: bold;
	}
	.zavet_title {
		font-size: 22px;
	}
	.group_title {
		font-size: 18px;
	}
	.menu {
		display:none;
	}
	.search { 
		width: 43%;
	}
	.search_input {
		height: 33px;
		font-size: 12px;
	}
	.logo{
		width: 25%;
	}
	.menuMobile{
		display: flex;
		width: 32%;
		flex-direction: row-reverse;
	}
	.menuMobile img{
		display: flex;
		width: 30%;
		margin: 12%;
	}
	.fullBookName{
		display: none;
	}
	.font{
		font-size : 16px;
	}

	.groupFilter {
		width: 100%;
	}
}	
/*--Стили для списка книг*/

/*Стили для главы */
.pager{
	display: flex;
	margin: 20px 0px;
}
.pagerCantainer{
	width: 15px;
	height: 15px;
	background-color:  var(--color-title-background2);
	margin: 3px;
	padding: 3px;
	text-align:center;
	display: flex;
	justify-content: center;
	border-top-right-radius: 5px;
}
.pagerCantainer a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: bold;
}
.pagerCantainer.active{
	background-color:   var(--color-title-background);
}
.verse{
	display: flex;
	font-size: 22px;
	margin-bottom: 0.3%;
}
.offset{
	margin-top : 10px;
}
.mainCenter{
	max-width: 1100px;
	margin: 0 auto;
}
.verseNumber{
	color: var(--color-title-azure);
	margin-right: 0.2%;
	min-width: 25px;
}
.verseNumber.bigPath{
	min-width: 120px;
}

.bookNameTitle{
	font-size: 30px;
	margin-top: 2%;
}
.borderPopup{
	border: 3px solid  var(--color-title-background2);
    margin: 20px 20px;
    padding: 10px;
	border-radius: 10px;
}
.borderPopup .verse {
	color:  var(--color-placeholder);
}
.borderPopup .verse.blue {
	color: var(--color-title-background);
}
.borderPopup .verse.black {
	color: var(--color-font);
}
/*--Стили для главы*/

/*Стили для поиска */
.searchResult .verseNumber{
	width: 120px; 
	min-width: 120px;
}
.chapterByVerseAjax .verseNumber
{
	width: 30px; 
	min-width: 30px;
}

.searchResult .verseText{

}
.searchResult{
	padding: 20px 20px 20px 10px;
}
.searchDetail{
	padding: 20px 20px 0px 20px;
}
.alphabetList{
	display: flex;
}
.alphabetList a{
	color: black;
    text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	margin: 10px;
}
.searchSymphony , .searchRubric{
	width: 95%;
	max-width: 1000px;
}
.titleLittle{
	margin: 20px 20px;
	font-size: 20px;
}
.letterWord a{
	text-decoration: none;
	color: black;
	
}
.letterBlockA{
	text-decoration: none;
	color: var(--color-title-background);
	font-weight: bold;
	margin-bottom: 5px;
}
.black{
	color: black;
}
.letterBlock{
	margin: 20px;
	width: 20%;
}
.Flex{
	display: flex;
}
@media screen and (min-width: 768px)   and (max-width: 1439px){

	.title{
		font-size : 24px;
	}
	.letterBlock{
		margin: 20px;
		width: 27%;
	}
	.lineFlex{
		width: 32%!important;
	}
}
@media screen and (max-width: 767px)  and (min-width: 360px){
	.marginLeft{
		margin-left: 15px;
	}
	.title{
		font-size : 22px;
	}
	.letterBlock{
		margin: 20px;
		width: 40%;
	}
	.lineFlex{
		width: 40%!important;
	}
	.verseText{
		font-size: 14px !important;
	}
	.verseNumber.bigPath{
		min-width: 100px !important;
		font-size: 16px !important;
	}	
}
@media screen and (max-width: 359px) {
	.tabTtitleElment{
		width: 150px;
	}
	.marginLeft{
		margin-left: 10px;
	}
	.title{
		font-size : 20px;
	}
	.letterBlock{
		margin: 20px;
		width: 100%;
	}
	.lineFlex{
		width: 100%!important;
	}
	.verseNumber.bigPath{
		min-width: 80px !important;
		font-size: 16px !important;
	}	
	.verseText{
		font-size: 14px !important;
	}
	.main{
		margin: 2%;
	}
}
/*--Стили для поиска */

/*Стили для симфонии */
.symphonyDetail .previewText{
	margin-bottom: 20px;
}
.lineFlex{
	width: 20%;
}
.Width{
	width : 100% !important;
}
/*--Стили для симфонии */