.pager .main_nav{
	margin-top: 10px;
	width: 100%;
	text-align: right;
}
.pager .nav_page{
	font-size: 12px;
	width: 20px; 
	height: 20px;
	background: linear-gradient( #fcfcfc ,#00a9ee 170%);
	display: inline-block;
	text-align: center ;
	box-shadow: #00a9ee 1px 1px 1px 0px;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pager .nav_page.points{
	background:none !important;
	box-shadow: none !important
}
.pager .nav_page a,.no_href{
	text-decoration: none !important;
	color: black !important;
	position: relative;
	top: 3px;
}
.pager .nav_page.active{
	box-shadow: #00a9ee 1px 1px 1px 0px !important;
	cursor: default !important;
	background: linear-gradient( #fcfcfc ,rgb(216, 238, 253) 170%);
}
.pager .nav_page.active a{
	cursor: default;
}