.listComponents{
    max-width: 1600px;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    display: flex;
}
.listItem{
    width: 350px;
    min-width: 310px;
    margin: 10px 10px;
    color: black;
}
.listItem a {
    color: black;
}