.captchaVerification{
    margin: 20px auto;
}
.mainCaptcha .captchaInput input{
    width: 270px;
    background-color: var(--color-white);
    border: 1.5px solid var(--color-wellenta);
    padding: 2px 10px;
    color: var(--color-wellenta);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    font-size: 26px;
    outline-width: 0;
}
.mainCaptcha .text{
    color: var(--color-wellenta);
    font-weight: bold;
}
.mainCaptcha .captchaImg{
    width: 250px;
    height: 65px;
    margin: 10px;
}
.captchaBorder{
    margin: 10px 0;
    border: 1px solid var(--color-wellenta);
    width: fit-content;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.mainCaptcha .reload{
    width: 30px;
    margin-left: 20px;
    cursor:pointer;
}
.reloadDivFlex{
    align-items: center;
    width: fit-content;
}
.buttonCaptchaEnter{
    width: 30px !important;
    height: 30px !important;
    margin-left: 10px !important;
    cursor:pointer;
}