<template>
  <div class="v-main-wrapper2">
    <p>{{title2}}</p>
  </div>
</template>
<script>
  export default{
    name : 'v-main-wrapper2',
    components:{},
    props: {},
    data(){
      return{
        title2: 'Main wrapper'
      }
    },
    computed:{},
    methods:{},
    watch:{},
    mounted() {
      console.log('Hello')
    }
  }
</script>
<style>
  .v-main-wrapper{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
</style>
