.BibleChapterComponent .verse {
    color: black !important;
}
.chapterBlock .copy  {
    width: 30px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
}
.chapterBlock .copy .ok {
    position: relative;
    //top: -2px;
}
.chapterBlock .copy.active .ok {
    display: block;
}
.chapterBlock .copy .ok,.chapterBlock .copy.active .svg {
    display: none;
}