.popup_all_2 {
	display: none;
	width: 100%;
	top: 0px;
	height: 100%;
	position: fixed;
	text-align: center;
	z-index: 899;
	//top: 30%;
}
.popup_main_2 {
	overflow: hidden;
	display: none;
	//position: absolute;
	z-index: 900;
	border-radius: 15px;
	border-top-left-radius:0px;
	background-color: white;
	margin: 100px auto;
	box-shadow: #00a9ee 3px 3px 5px 0px;
}
.popup_close_2{
	position: relative;
	left: -12px;
	cursor: pointer;
}