.buttonWellentaSmall {
    font-size: 16px  !important;
    width: 240px  !important;
    border-radius: 5px;
    text-align: center;
    padding: 5px 5px !important;
}
.agree input{
    margin-right: 10px;
}
.agree{
    margin-top: 30px;
}
.textareaWellenta {
    height: 100px !important;
    resize: none;
}
.typeList{
    width: 400px;
}
.inputWellenta, .textareaWellenta {
    background-color: var(--color-white);
    border: 1.5px solid var(--color-main);
    padding: 2px 10px;
    color: var(--color-main);
    border-radius: 15px;
    margin: 0px 0px;
    height: 30px;
    width: 400px;
}
.formItem .label{
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: 200px;
}
.formItem{
    margin: 10px 0;
}
.supportBlock .title{
    margin-bottom: 20px;
}
.supportBlock{
    margin: 50px 0;
    width: var(--size-max-small-width);
    min-height: 300px;
    border: 1.5px solid var(--color-wellenta2);
    padding: 20px;
    border-top-right-radius: 10px;
}
.sendRegister{
    max-width: 350px;
    min-width: 200px;
}
