.main.opacity {
    opacity: 0.2;
}

.closePopupContainer{
    width: 100%;
    text-align: right;
}
.closePopup {
    margin: 10px;
    width: 30px;
    cursor: pointer;
}

.popupContainer {
    display: none;
    width: 99%;
    height: 99%;
    position: fixed;
    left: 0;
    top: 0;
}

.popupContainer.active {
    display: flex;
}

.popup {
    border: 2px solid var(--color-main);
    border-radius: 2%;
    background-color: white;
    margin: auto;
    max-width: 800px;
    width: 79%;
    height: 69%;
    align-items: center;
    justify-content: center;
}

.contentPopup {
    overflow: auto;
    height: 89%;
    margin: 0px 20px 20px 40px;
}
.imgPopup img{
    max-width: 100%;
    max-height: 100%;
}
.imgPopup{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

@media (max-width: 850px) {
    .popup {
        max-width: 800px;
        width: 95% !important;
        height: 95% !important;
    }
}